# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 52acee896e17d9d6894974d78dd0e07c37f027f93252014d010f929507432f1b4a3ab1342b2da85338bebe3a8dbb6189d976592d6954b751905e2d2d1d401d5e

test:
  secret_key_base: 292f95975b1a29a739a577743a568b12954ed0128b01f98a29cfdeb444854335770a5f1d73542844847c11b00863a27502084cfde07be456385fe7e3c5170bf8

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 72781534bf71df493c0c62d652e28ebca73f8ecc28c42d68222775f6934629dded3f1957610bf0051d3d363c5aa8c83beca0e2a37bd4423068ef1d639a9466aa
